asgiref==3.8.1
bitarray==3.0.0
bitstring==4.3.0
cffi==1.17.1
cryptography==44.0.2
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
ecdsa==0.19.1
esptool==4.8.1
gunicorn==23.0.0
intelhex==2.3.0
packaging==25.0
pillow==11.1.0
pycparser==2.22
PyJWT==2.10.1
pyserial==3.5
PyYAML==6.0.2
reedsolo==1.7.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
whitenoise==6.9.0
